body {
background-color: burlywood;
font-size: 32 px;
}

h1 {
text-align:center
}

p {
background-color beige;
font-family: cursive;
color: black;
}

img{
float: right;
max-width: 20%;
max-height: 10%;
}
